/* IMAGES: from clipartsfree.de */

#main {
    padding: 5px;
    background-color: #edf6f9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div-start-hide,
#div-game-hide {
    width: 90%;

}

#div-start,
#div-game {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #ffddd2;
    border-radius: 0.25em;
    padding: 1em
}

.display-none {
    display: none
}

#div-select {
    margin: 1em;
    color: #006d77;
    font-size: 2rem;
}

#table-character {
    width: 80%;
    max-width: 70vh;
    border-collapse: separate;
    background-color: white;
}

#table-game {
    width: 80%;
    max-width: 70vh;
    border-collapse: collapse;
}

td {
    border: 2px solid rgb(134, 134, 134);
}

#table-game td {
    border: 2px solid black;
}

#table-game tr:first-child td {
    border-top: 0;
}

#table-game tr:last-child td {
    border-bottom: 0;
}

#table-game tr td:first-child,
#table-game tr th:first-child {
    border-left: 0;
}

#table-game tr td:last-child,
#table-game tr th:last-child {
    border-right: 0;
}

td {
    padding: 0;
    width: 33.33%;
    height: 0;
    padding-bottom: 33.33%;
    position: relative;
    overflow: hidden;

}

.td-selected {
    border: 2px solid black
}

.img-char,
.img-game-char {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
}

.img-char {
    opacity: 0.3;
}

.img-char:hover {
    opacity: 0.6;
}

.img-char-selected,
.img-char-selected:hover {
    opacity: 1
}

#table-game td {
    opacity: 0;
}

#table-game .td-hover:hover {
    opacity: 0.3;
    background-color: white;
}

#table-game .td-game-selected {
    opacity: 1;
    background-color: white;
}



#btn-start,
#btn-restart {
    background-color: #83c5be;
    color: #006d77;
    padding: 0.5em 1.5em;
    margin-top: 30px;
    margin-bottom: 10px;
}

#btn-start:hover:enabled,
#btn-restart:hover {
    background-color: #006d77;
    color: #83c5be
}

#div-game {
    width: 100%;
    height: 100%;
    padding-top: 30px
}


#overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 2;
}

#end-text {
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border: 3px solid;
    border-radius: 0.15em;
    background-color: white;
    padding: 0.5em 1em;
}

#overlay-wait {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#loader {
    margin: auto;
    border: 25px solid #EAF0F6;
    border-radius: 50%;
    border-top: 20px solid #FF7A59;
    width: 20px;
    height: 20px;
    animation: spinner 4s linear infinite;
}


@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 630px) {
    #div-select {
        font-size: 1.25rem;
    }
}
